.carouselCapTitle{
    border-top-left-radius: 10px ;
    border-top-right-radius: 10px;
    background-color:rgba(0,0,0,0.5);
}
.carouselCapSubTitle{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color:rgba(0,0,0,0.5);
}

.carImg{
    /* border-radius: 10px !important; */
}

.container{
    font-family: 'Roboto', sans-serif;
}

